/*
Comment everything not useful for the current project
*/
/* --- Vendors --- */
/* ---------------------------------- */
/* ==Grillade : Simple Grid System    */
/* ---------------------------------- */
/* Doc : http://grillade.knacss.com */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,500,600,700");
@media (min-width: 576px) {
  [class*=" grid-"],
  [class^="grid-"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    [class*=" grid-"] > *,
    [class^="grid-"] > * {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0; } }
@media (min-width: 576px) {
  .grid,
  .grid--reverse {
    display: flex; }
    .grid > *,
    .grid--reverse > * {
      flex: 1 1 0%;
      box-sizing: border-box;
      min-width: 0;
      min-height: 0; }
    .grid.has-gutter > * + *,
    .grid--reverse.has-gutter > * + * {
      margin-left: calc(1rem - 0.01px); }
    .grid.has-gutter-l > * + *,
    .grid--reverse.has-gutter-l > * + * {
      margin-left: calc(2rem - 0.01px); }
    .grid.has-gutter-xl > * + *,
    .grid--reverse.has-gutter-xl > * + * {
      margin-left: calc(4rem - 0.01px); } }
@media (min-width: 576px) {
  [class*="grid-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="grid-2"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-2"].has-gutter > * {
      width: calc(100% / 2 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-2"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-2"].has-gutter-l > * {
      width: calc(100% / 2 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-2"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-2"].has-gutter-xl > * {
      width: calc(100% / 2 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="grid-3"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-3"].has-gutter > * {
      width: calc(100% / 3 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-3"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-3"].has-gutter-l > * {
      width: calc(100% / 3 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-3"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-3"].has-gutter-xl > * {
      width: calc(100% / 3 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="grid-4"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-4"].has-gutter > * {
      width: calc(100% / 4 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-4"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-4"].has-gutter-l > * {
      width: calc(100% / 4 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-4"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-4"].has-gutter-xl > * {
      width: calc(100% / 4 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-5"] > * {
    width: calc(100% / 5 - 0.01px); }
  [class*="grid-5"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-5"].has-gutter > * {
      width: calc(100% / 5 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-5"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-5"].has-gutter-l > * {
      width: calc(100% / 5 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-5"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-5"].has-gutter-xl > * {
      width: calc(100% / 5 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-6"] > * {
    width: calc(100% / 6 - 0.01px); }
  [class*="grid-6"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-6"].has-gutter > * {
      width: calc(100% / 6 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-6"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-6"].has-gutter-l > * {
      width: calc(100% / 6 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-6"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-6"].has-gutter-xl > * {
      width: calc(100% / 6 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-7"] > * {
    width: calc(100% / 7 - 0.01px); }
  [class*="grid-7"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-7"].has-gutter > * {
      width: calc(100% / 7 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-7"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-7"].has-gutter-l > * {
      width: calc(100% / 7 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-7"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-7"].has-gutter-xl > * {
      width: calc(100% / 7 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-8"] > * {
    width: calc(100% / 8 - 0.01px); }
  [class*="grid-8"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-8"].has-gutter > * {
      width: calc(100% / 8 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-8"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-8"].has-gutter-l > * {
      width: calc(100% / 8 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-8"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-8"].has-gutter-xl > * {
      width: calc(100% / 8 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-9"] > * {
    width: calc(100% / 9 - 0.01px); }
  [class*="grid-9"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-9"].has-gutter > * {
      width: calc(100% / 9 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-9"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-9"].has-gutter-l > * {
      width: calc(100% / 9 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-9"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-9"].has-gutter-xl > * {
      width: calc(100% / 9 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-10"] > * {
    width: calc(100% / 10 - 0.01px); }
  [class*="grid-10"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-10"].has-gutter > * {
      width: calc(100% / 10 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-10"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-10"].has-gutter-l > * {
      width: calc(100% / 10 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-10"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-10"].has-gutter-xl > * {
      width: calc(100% / 10 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-11"] > * {
    width: calc(100% / 11 - 0.01px); }
  [class*="grid-11"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-11"].has-gutter > * {
      width: calc(100% / 11 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-11"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-11"].has-gutter-l > * {
      width: calc(100% / 11 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-11"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-11"].has-gutter-xl > * {
      width: calc(100% / 11 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }

  [class*="grid-12"] > * {
    width: calc(100% / 12 - 0.01px); }
  [class*="grid-12"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-12"].has-gutter > * {
      width: calc(100% / 12 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-12"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-12"].has-gutter-l > * {
      width: calc(100% / 12 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-12"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-12"].has-gutter-xl > * {
      width: calc(100% / 12 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; } }
.push {
  margin-left: auto !important; }

.pull {
  margin-right: auto !important; }

.item-first {
  order: -1; }

.item-last {
  order: 1; }

[class*="grid-"][class*="--reverse"] {
  flex-direction: row-reverse; }

@media (min-width: 576px) {
  .full {
    flex: 0 0 auto;
    width: calc(100% / 1 - 0.01px); }

  .has-gutter > .full {
    width: calc(100% / 1 - 1rem - 0.01px); }

  .has-gutter-l > .full {
    width: calc(100% / 1 - 2rem - 0.01px); }

  .has-gutter-xl > .full {
    width: calc(100% / 1 - 4rem - 0.01px); }

  .one-half {
    flex: 0 0 auto;
    width: calc(100% / 2 - 0.01px); }

  .has-gutter > .one-half {
    width: calc(100% / 2 - 1rem - 0.01px); }

  .has-gutter-l > .one-half {
    width: calc(100% / 2 - 2rem - 0.01px); }

  .has-gutter-xl > .one-half {
    width: calc(100% / 2 - 4rem - 0.01px); }

  .one-third {
    flex: 0 0 auto;
    width: calc(100% / 3 - 0.01px); }

  .has-gutter > .one-third {
    width: calc(100% / 3 - 1rem - 0.01px); }

  .has-gutter-l > .one-third {
    width: calc(100% / 3 - 2rem - 0.01px); }

  .has-gutter-xl > .one-third {
    width: calc(100% / 3 - 4rem - 0.01px); }

  .one-quarter {
    flex: 0 0 auto;
    width: calc(100% / 4 - 0.01px); }

  .has-gutter > .one-quarter {
    width: calc(100% / 4 - 1rem - 0.01px); }

  .has-gutter-l > .one-quarter {
    width: calc(100% / 4 - 2rem - 0.01px); }

  .has-gutter-xl > .one-quarter {
    width: calc(100% / 4 - 4rem - 0.01px); }

  .one-fifth {
    flex: 0 0 auto;
    width: calc(100% / 5 - 0.01px); }

  .has-gutter > .one-fifth {
    width: calc(100% / 5 - 1rem - 0.01px); }

  .has-gutter-l > .one-fifth {
    width: calc(100% / 5 - 2rem - 0.01px); }

  .has-gutter-xl > .one-fifth {
    width: calc(100% / 5 - 4rem - 0.01px); }

  .one-sixth {
    flex: 0 0 auto;
    width: calc(100% / 6 - 0.01px); }

  .has-gutter > .one-sixth {
    width: calc(100% / 6 - 1rem - 0.01px); }

  .has-gutter-l > .one-sixth {
    width: calc(100% / 6 - 2rem - 0.01px); }

  .has-gutter-xl > .one-sixth {
    width: calc(100% / 6 - 4rem - 0.01px); }

  .two-thirds {
    flex: 0 0 auto;
    width: calc(100% / 3 * 2 - 0.01px); }

  .has-gutter > .two-thirds {
    width: calc(100% / 3 * 2 - 1rem - 0.01px); }

  .has-gutter-l > .two-thirds {
    width: calc(100% / 3 * 2 - 2rem - 0.01px); }

  .has-gutter-xl > .two-thirds {
    width: calc(100% / 3 * 2 - 4rem - 0.01px); }

  .three-quarters {
    flex: 0 0 auto;
    width: calc(100% / 4 * 3 - 0.01px); }

  .has-gutter > .three-quarters {
    width: calc(100% / 4 * 3 - 1rem - 0.01px); }

  .has-gutter-l > .three-quarters {
    width: calc(100% / 4 * 3 - 2rem - 0.01px); }

  .has-gutter-xl > .three-quarters {
    width: calc(100% / 4 * 3 - 4rem - 0.01px); }

  .five-sixths {
    flex: 0 0 auto;
    width: calc(100% / 6 * 5 - 0.01px); }

  .has-gutter > .five-sixths {
    width: calc(100% / 6 * 5 - 1rem - 0.01px); }

  .has-gutter-l > .five-sixths {
    width: calc(100% / 6 * 5 - 2rem - 0.01px); }

  .has-gutter-xl > .five-sixths {
    width: calc(100% / 6 * 5 - 4rem - 0.01px); }

  .four-twelves {
    flex: 0 0 auto;
    width: calc(100% / 12*3.5 - 0.01px); }

  .has-gutter > .four-twelves {
    width: calc(100% / 12*3.5 - 1rem - 0.01px); }

  .has-gutter-l > .four-twelves {
    width: calc(100% / 12*3.5 - 2rem - 0.01px); }

  .has-gutter-xl > .four-twelves {
    width: calc(100% / 12*3.5 - 4rem - 0.01px); }

  .five-twelves {
    flex: 0 0 auto;
    width: calc(100% / 12*5 - 0.01px); }

  .has-gutter > .five-twelves {
    width: calc(100% / 12*5 - 1rem - 0.01px); }

  .has-gutter-l > .five-twelves {
    width: calc(100% / 12*5 - 2rem - 0.01px); }

  .has-gutter-xl > .five-twelves {
    width: calc(100% / 12*5 - 4rem - 0.01px); }

  .seven-twelves {
    flex: 0 0 auto;
    width: calc(100% / 12*7 - 0.01px); }

  .has-gutter > .seven-twelves {
    width: calc(100% / 12*7 - 1rem - 0.01px); }

  .has-gutter-l > .seven-twelves {
    width: calc(100% / 12*7 - 2rem - 0.01px); }

  .has-gutter-xl > .seven-twelves {
    width: calc(100% / 12*7 - 4rem - 0.01px); } }
/* Responsive Small Breakpoint */
@media (min-width: 576px) and (max-width: 767px) {
  [class*="-small-1"] > * {
    width: calc(100% / 1 - 0.01px); }
  [class*="-small-1"].has-gutter > * {
    width: calc(100% / 1 - 1rem - 0.01px); }
  [class*="-small-1"].has-gutter-l > * {
    width: calc(100% / 1 - 2rem - 0.01px); }
  [class*="-small-1"].has-gutter-xl > * {
    width: calc(100% / 1 - 4rem - 0.01px); }

  [class*="-small-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="-small-2"].has-gutter > * {
    width: calc(100% / 2 - 1rem - 0.01px); }
  [class*="-small-2"].has-gutter-l > * {
    width: calc(100% / 2 - 2rem - 0.01px); }
  [class*="-small-2"].has-gutter-xl > * {
    width: calc(100% / 2 - 4rem - 0.01px); }

  [class*="-small-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="-small-3"].has-gutter > * {
    width: calc(100% / 3 - 1rem - 0.01px); }
  [class*="-small-3"].has-gutter-l > * {
    width: calc(100% / 3 - 2rem - 0.01px); }
  [class*="-small-3"].has-gutter-xl > * {
    width: calc(100% / 3 - 4rem - 0.01px); }

  [class*="-small-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="-small-4"].has-gutter > * {
    width: calc(100% / 4 - 1rem - 0.01px); }
  [class*="-small-4"].has-gutter-l > * {
    width: calc(100% / 4 - 2rem - 0.01px); }
  [class*="-small-4"].has-gutter-xl > * {
    width: calc(100% / 4 - 4rem - 0.01px); } }
/* --- Base --- */
/* --- * --- */
* {
  box-sizing: border-box; }

/* --- Body --- */
body {
  margin: 0;
  color: #2F2929;
  background-color: #fff;
  overflow-x: hidden; }

main {
  position: relative; }

strong {
  font-weight: 500; }

/*Font-face declaration example*/
html {
  font-size: 62.5%;
  /* 10px */
  font-size: calc(1em * 0.625);
  /* fix */ }

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2; }
  @media (max-width: 768px) {
    body {
      font-size: 2rem; } }
  @media (max-width: 630px) {
    body {
      font-size: 1.3rem; } }

.img-center {
  display: block;
  margin: 0 auto; }

.no-before:before {
  display: none !important;
  margin: 0 !important; }

.align-bottom {
  align-self: flex-end; }

.no-shadow {
  box-shadow: none !important; }

.mobile-display {
  display: none; }
  @media (max-width: 768px) {
    .mobile-display {
      display: block; } }

.mobile-hidden {
  display: block; }
  @media (max-width: 768px) {
    .mobile-hidden {
      display: none; } }

.with-arrow:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  background: url(../images/icons/ico-chevron.svg) 0 0 no-repeat; }

/* --- Layout --- */
.container {
  margin: 0 auto;
  max-width: 1112px; }

@media (max-width: 1112px) {
  .container {
    padding: 0 20px;
    width: 100%; } }
@media (max-width: 768px) {
  .container {
    padding: 0 6.4rem; } }
@media (max-width: 630px) {
  .container {
    padding: 0 2.4rem; } }
header {
  padding: 6rem 0 0;
  background-color: #f6f6f6;
  border-top: 4px solid #000066;
  overflow: hidden; }
  header .container {
    position: relative; }
  header h1 {
    position: relative;
    padding-top: 10rem;
    padding-bottom: 30rem;
    z-index: 2; }
  header img {
    width: 100%;
    height: auto; }
  @media (max-width: 768px) {
    header {
      overflow: visible; }
      header h1 {
        padding-top: 3.2rem;
        padding-bottom: 7rem; } }
  @media (max-width: 630px) {
    header {
      padding: 2.4rem 0; }
      header h1 {
        padding-top: 0;
        padding-bottom: 5rem; } }

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 5.6rem;
  z-index: 2; }

.header-illu {
  display: flex;
  align-items: center;
  position: absolute;
  right: -20%;
  bottom: 0;
  margin: auto;
  max-width: 830px;
  z-index: 0; }
  @media (max-width: 1112px) {
    .header-illu {
      top: 0;
      max-width: 50vw; } }
  @media (max-width: 1112px) {
    .header-illu {
      right: 0; } }
  @media (max-width: 768px) {
    .header-illu {
      position: relative;
      margin-bottom: -10rem;
      max-width: 100%; }
      .header-illu img {
        margin-bottom: -5rem; } }
  @media (max-width: 630px) {
    .header-illu {
      margin-bottom: -5rem; }
      .header-illu img {
        margin-bottom: 0; } }

footer {
  background-color: #000066; }
  footer a {
    text-decoration: none; }

.footer-content {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .footer-content nav {
    position: relative; }
  .footer-content .logo {
    margin-bottom: 3.2rem; }
    .footer-content .logo img {
      width: 32rem;
      height: auto; }
  .footer-content .linkedin {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    opacity: 1;
    transition: opacity 0.3s ease-in-out; }
    .footer-content .linkedin:hover {
      opacity: .7; }
  .footer-content a {
    display: flex;
    align-items: center;
    color: #fff; }
    .footer-content a:before {
      content: '';
      display: block;
      width: 1.6rem;
      height: 1px;
      margin-right: 8px;
      background-color: #fff; }
  @media (max-width: 768px) {
    .footer-content {
      padding: 6.4rem;
      font-size: 2rem; }
      .footer-content .logo {
        margin-bottom: 2.3rem; }
      .footer-content .linkedin {
        margin-top: 2.5rem; } }
  @media (max-width: 630px) {
    .footer-content {
      padding: 2.4rem;
      font-size: 1.2rem;
      line-height: 2.5; }
      .footer-content .logo {
        margin-bottom: 2.3rem; }
        .footer-content .logo img {
          width: 19rem; }
      .footer-content .linkedin img {
        width: 2.4rem;
        height: auto; } }

.bottom-bar {
  padding: 1.5rem 0;
  text-align: center;
  background-color: #fff; }
  .bottom-bar a:not(:first-child):before {
    content: '|';
    margin-right: 1rem;
    margin-left: 1rem;
    color: #000066; }
  @media (max-width: 768px) {
    .bottom-bar {
      font-size: 2rem; } }
  @media (max-width: 630px) {
    .bottom-bar {
      font-size: 1.2rem; } }

/* --- Components --- */
@media (max-width: 630px) {
  .logo img {
    width: 80%; } }

/* --- Nav --- */
.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100vw;
  width: 100%;
  background-color: #000066;
  z-index: 3;
  transition: left 0.4s ease-in-out; }
  .main-nav.active {
    left: 0; }
  .main-nav .container {
    display: flex;
    flex-direction: column;
    height: 100%; }
  .main-nav .top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 6.5rem; }
  .main-nav nav {
    margin-top: auto;
    margin-bottom: auto; }
    .main-nav nav a {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
      font-size: 3rem;
      font-weight: 300;
      line-height: 1.2;
      color: #fff;
      text-decoration: none; }
      .main-nav nav a:before {
        content: '';
        display: inline-block;
        width: 3.2rem;
        height: 1px;
        margin-right: 6.4rem;
        background-color: #fff; }
      .main-nav nav a:first-child {
        margin-top: -8rem; }
  @media (max-width: 768px) {
    .main-nav nav {
      margin-top: 4.8rem; }
      .main-nav nav a {
        font-size: 2.8rem; }
        .main-nav nav a:before {
          margin-right: 3.2rem; }
        .main-nav nav a:first-child {
          margin-top: 0; } }
  @media (max-width: 630px) {
    .main-nav .container {
      padding-right: 2.4rem;
      padding-left: 2.4rem; }
    .main-nav nav {
      margin-top: 2.4rem; }
      .main-nav nav a {
        margin-bottom: 1.6rem;
        font-size: 2rem; }
        .main-nav nav a:before {
          width: 1.6rem;
          margin-right: 1.6rem; } }

.lang-nav {
  display: none;
  position: absolute;
  top: -6rem;
  right: 0;
  width: 12.8rem;
  font-size: 1.4rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05); }
  .lang-nav a {
    display: block;
    text-decoration: none; }
    .lang-nav a + a {
      display: none; }

button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 300;
  background: none;
  border: none; }
  @media (max-width: 768px) {
    button {
      font-size: 2rem; } }

#open-nav {
  color: #000066; }
  @media (max-width: 630px) {
    #open-nav > span {
      display: none; } }

#close-nav {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 300; }
  #close-nav span {
    line-height: 1; }
    @media (max-width: 630px) {
      #close-nav span {
        display: none; } }
  #close-nav div {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 8px; }
    #close-nav div:before, #close-nav div:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      top: 50%;
      right: 0;
      margin-top: -1px;
      background: #fff; }
    #close-nav div:before {
      transform: rotate(45deg); }
    #close-nav div:after {
      transform: rotate(-45deg); }

.hamburger {
  position: relative;
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 8px; }
  .hamburger:after {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(../images/icons/Menu.svg) center center no-repeat;
    background-size: 2.4rem; }

h1,
h2 {
  color: #000066; }

h1,
h3 {
  font-weight: 600; }

h1 {
  margin: 0;
  font-size: 4rem;
  line-height: 1.2; }
  h1 span {
    display: block;
    font-size: 3.6rem;
    font-weight: 200; }
  @media (max-width: 768px) {
    h1, h1 span {
      font-size: 3.8rem; } }
  @media (max-width: 630px) {
    h1, h1 span {
      font-size: 2rem; } }

h2 {
  margin: 0 0 2.8rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.4; }
  @media (max-width: 630px) {
    h2 {
      font-size: 1.8rem;
      margin-bottom: 8px; } }

h3 {
  margin: 0 0 3.2rem;
  font-size: 2rem;
  line-height: 1.6; }
  @media (max-width: 630px) {
    h3 {
      font-size: 2rem; } }

ol,
ul {
  margin: 20px 0;
  padding-left: 0; }

ul {
  margin-top: 1rem;
  margin-bottom: 3.2rem;
  padding-left: 3rem;
  list-style-type: none; }
  ul ul {
    margin-left: 20px; }

.list-title + ul {
  margin-top: 0; }

li:before {
  content: "\00b7";
  margin-right: 3rem;
  font-weight: bold; }
  @media (max-width: 630px) {
    li:before {
      margin-right: 2rem; } }

a {
  color: #2F2929; }

.page {
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .page {
      padding-top: 17rem; } }
  @media (max-width: 630px) {
    .page {
      padding-top: 5rem; } }

@media (max-width: 768px) {
  .page-section {
    width: 100%; } }

.page-article {
  padding-left: calc(100% / 12 *1.5 - 1rem - 0.01px); }
  .page-article:last-of-type {
    margin-bottom: 6.4rem; }
  .page-article hr {
    width: 100vw;
    height: 8px;
    background-color: #F0F0F0;
    position: absolute;
    right: 50%;
    left: 50%;
    margin-top: 0;
    margin-right: -50vw;
    margin-left: -50vw;
    border: none;
    z-index: 1; }
    .page-article hr + hr {
      background-color: #fff;
      max-width: 1112px;
      margin: 0 auto;
      right: 0;
      left: 0; }
      @media (max-width: 1112px) {
        .page-article hr + hr {
          width: 70%;
          margin-left: auto;
          margin-right: 0; } }
      @media (max-width: 630px) {
        .page-article hr + hr {
          width: 50%; } }
  .page-article:last-of-type hr {
    display: none; }
  @media (max-width: 768px) {
    .page-article {
      padding-left: 0; }
      .page-article:first-child .article-content {
        padding-top: 5.6rem; }
      .page-article hr {
        width: 25.6rem; }
        .page-article hr + hr {
          display: none; } }
  @media (max-width: 630px) {
    .page-article:first-child .article-content {
      padding-top: 4.8rem; }
    .page-article hr {
      width: 7.2rem; } }

.article-content h3 {
  font-size: 1.6rem;
  font-weight: normal;
  color: #000066; }
  @media (max-width: 768px) {
    .article-content h3 {
      font-size: 2rem;
      margin-bottom: 1.6rem; } }
  @media (max-width: 630px) {
    .article-content h3 {
      font-size: 1.4rem;
      margin-bottom: 1.2rem; } }
.article-content a {
  display: inline-flex;
  align-items: center;
  color: #000066; }
.article-content img {
  display: block;
  max-width: 100%;
  margin: 6.4rem auto; }
.article-content figure img {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 102, 0.2); }
.article-content figcaption {
  margin-top: -5rem;
  margin-bottom: 6.4rem;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 300; }
.article-content p {
  margin: 0; }
  .article-content p:not(.section-position), .article-content p:not(:last-child) {
    margin-bottom: 3.2rem; }
  .article-content p:last-child img {
    margin-bottom: 0; }
@media (max-width: 768px) {
  .article-content ul {
    padding-left: 0; } }
.article-content .section-position {
  color: #CCCCCC;
  margin-bottom: 0 !important; }
  @media (max-width: 768px) {
    .article-content .section-position {
      display: none; } }
.article-content > *:last-child {
  margin-bottom: 0 !important; }
.article-content .owl-item img {
  width: 95% !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 102, 0.2); }
.article-content .owl-item figcaption {
  margin-top: 4rem;
  margin-bottom: 0; }
  .article-content .owl-item figcaption span {
    color: #CCC; }

.article-content {
  padding: 13rem 0; }
  @media (max-width: 630px) {
    .article-content {
      padding: 5rem 0; } }

.owl-carousel .owl-nav {
  top: auto !important;
  bottom: -1.9rem; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    width: 3.2rem;
    height: 3.2rem;
    background-color: #fff !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 102, 0.2); }
    .owl-carousel .owl-nav .owl-prev:after,
    .owl-carousel .owl-nav .owl-next:after {
      content: '' !important;
      position: relative;
      display: block;
      min-height: 1rem !important;
      min-width: 1rem !important;
      background-color: transparent;
      border-style: solid;
      border-color: #000066;
      border-width: 0px 1px 1px 0px; }
  .owl-carousel .owl-nav .owl-prev:after {
    margin-right: -5px;
    transform: rotate(135deg); }
  .owl-carousel .owl-nav .owl-next:after {
    margin-left: -5px;
    transform: rotate(-45deg); }

.owl-carousel .owl-item img {
  margin-bottom: 3rem; }

#page-nav-wrapper {
  margin-top: -13rem;
  z-index: 2; }
  #page-nav-wrapper nav {
    padding: 1.4rem 3.2rem 3.2rem;
    font-size: 1.6rem;
    font-weight: 300; }
  @media (max-width: 768px) {
    #page-nav-wrapper {
      width: 100%;
      margin-top: 0; }
      #page-nav-wrapper nav {
        margin-left: 0;
        padding-bottom: 0; }
        #page-nav-wrapper nav a:last-of-type {
          margin-bottom: 3.2rem; } }

.page-nav > div {
  margin-left: -3.2rem;
  background-color: #000066;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 102, 0.3); }
  @media (max-width: 768px) {
    .page-nav > div {
      margin-left: 0; } }
.page-nav,
.page-nav a {
  color: #fff; }
.page-nav h3 {
  position: relative;
  margin-bottom: 0;
  margin-left: 3.2rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem; }
  .page-nav h3:before, .page-nav h3:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: 1px;
    background-color: #fff; }
  .page-nav h3:before {
    left: -3.2rem;
    width: calc(100% / 4); }
  .page-nav h3:after {
    left: calc((100% / 4) - 2.4rem);
    width: 8px; }
.page-nav a {
  display: flex;
  align-items: flex-start;
  text-decoration: none; }
  .page-nav a:not(:last-child) {
    padding-bottom: 2rem; }
  .page-nav a:before {
    content: '';
    display: block;
    margin-top: 7px;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background: url(../images/icons/ico-chevron-white.svg) 0 0 no-repeat; }
  .page-nav a:hover {
    text-decoration: underline; }
  .page-nav a:first-of-type {
    padding-top: 1.6rem; }
.page-nav span {
  display: inline-block;
  line-height: 1.4; }
.page-nav button {
  display: none;
  justify-content: space-between;
  width: 100%;
  padding: 1.6rem 2.5rem;
  font-size: 2rem;
  line-height: 1.6;
  color: #fff;
  text-align: left; }
  .page-nav button:after {
    content: '' !important;
    position: relative;
    display: block;
    height: 1rem !important;
    width: 1rem !important;
    background-color: transparent;
    border-style: solid;
    border-color: #fff;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg); }
  .page-nav button.active:after {
    transform: rotate(-135deg); }
@media (max-width: 1112px) {
  .page-nav > div {
    margin-left: 0; } }
@media (max-width: 768px) {
  .page-nav button {
    display: flex; }
  .page-nav h3 {
    display: none; }
  .page-nav nav {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 0;
    background-color: #000066;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden; }
    .page-nav nav.active {
      max-height: 45rem; } }
@media (max-width: 630px) {
  .page-nav button {
    padding: 8px 1.6rem;
    font-size: 1.4rem;
    line-height: 2.3; } }

.mobile-page-nav {
  display: none;
  padding: 0;
  font-weight: 2rem;
  color: #fff; }
  .mobile-page-nav:after {
    content: ''; }
  @media (max-width: 768px) {
    .mobile-page-nav {
      display: flex;
      justify-content: space-between;
      width: 100%; } }

.icon-security {
  display: inline-block;
  width: 2.6rem;
  height: 3.2rem;
  margin-right: 1.6rem;
  background: url(../images/icons/securite.svg) center center no-repeat;
  vertical-align: middle; }

figure {
  margin: 0; }

.over-left {
  width: calc(100% + 3rem);
  max-width: none !important;
  margin-left: -3rem !important; }
  @media (max-width: 768px) {
    .over-left {
      width: 100%;
      margin-left: 0 !important; } }

.hardware {
  display: flex;
  align-items: flex-start;
  margin-left: -6rem; }
  .hardware > div {
    margin-right: 3rem; }
    .hardware > div:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.2rem;
      height: 3.2rem; }
      .hardware > div:first-child img {
        margin: 0;
        width: 3.2rem;
        max-height: 100%;
        max-width: inherit; }
  .hardware ul {
    margin-top: -3rem;
    padding-left: 0; }
  @media (max-width: 768px) {
    .hardware {
      margin-left: 0; } }

/* --- Pages --- */
.sse ul {
  padding-left: 0; }

.contact .page-nav iframe {
  width: 100%;
  margin-bottom: -1rem; }
.contact table {
  width: 100%;
  margin-bottom: 6.4rem; }
.contact td:first-of-type {
  width: 30%;
  vertical-align: top;
  color: #000066;
  font-weight: 500; }
.contact td table td:first-of-type {
  width: 50%; }
.contact strong {
  font-weight: 400;
  color: #000066; }

.home header {
  overflow: visible; }
.home .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 73rem;
  margin: 6.4rem auto 0;
  font-weight: 200; }
  .home .header-content h1 {
    margin-bottom: 3.2rem;
    padding: 0;
    font-weight: 300; }
  .home .header-content img {
    max-width: 80rem;
    margin-bottom: -19rem; }
  @media (max-width: 630px) {
    .home .header-content {
      margin-top: 0; } }
.home main {
  padding-top: 6rem; }
  @media (max-width: 630px) {
    .home main {
      padding-top: 0; } }

.header-content a,
.specialty a,
.security a {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #000066;
  text-decoration: none; }
  .header-content a:before,
  .specialty a:before,
  .security a:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background: url(../images/icons/ico-chevron.svg) 0 0 no-repeat; }

.specialty h2,
.security h2 {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: 200; }
  .specialty h2:before, .specialty h2:after,
  .security h2:before,
  .security h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: 1px; }
  .specialty h2:before,
  .security h2:before {
    left: -1.5rem;
    width: 10rem; }
  .specialty h2:after,
  .security h2:after {
    left: 9.5rem;
    width: 1rem; }
  .specialty h2 span,
  .security h2 span {
    font-weight: 500; }

.specialty {
  margin-top: 20rem;
  margin-bottom: 12rem;
  display: flex; }
  .specialty > div:first-of-type {
    width: calc(100% / 2 - 0.01px);
    text-align: right; }
    .specialty > div:first-of-type img {
      width: auto;
      height: 18.7rem;
      margin-top: 7px;
      margin-right: 2.8rem; }
    @media (max-width: 630px) {
      .specialty > div:first-of-type {
        display: none; } }
  .specialty h2:before, .specialty h2:after {
    background-color: #000066; }
  .specialty h2:before {
    left: -1.5rem; }
  .specialty h2:after {
    left: 9.5rem; }
  .specialty h2 span {
    display: block;
    font-weight: bold; }
  @media (max-width: 630px) {
    .specialty {
      padding-top: 0;
      margin-bottom: 6rem; } }

.security {
  position: relative;
  max-width: 72.8rem;
  margin: 0 auto 10rem; }
  .security > div {
    position: relative;
    padding: 3.2rem;
    background-color: #000066;
    z-index: 3; }
  .security,
  .security h2,
  .security a {
    color: #fff; }
  .security h2:before, .security h2:after {
    background-color: #fff; }
  .security h2:before {
    left: -3.2rem; }
  .security h2:after {
    left: 7.8rem; }
  .security a:before {
    background-image: url(../images/icons/ico-chevron-white.svg); }
  .security hr {
    width: 100vw;
    height: 8px;
    background-color: #F0F0F0;
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 50%;
    margin-top: auto;
    margin-right: -50vw;
    margin-bottom: auto;
    margin-left: -50vw;
    border: none;
    z-index: 1; }
    .security hr + hr {
      right: 0;
      left: -3.6rem;
      max-width: 80rem;
      margin: auto;
      background-color: #fff; }
    @media (max-width: 768px) {
      .security hr {
        display: none; } }
  @media (max-width: 630px) {
    .security {
      margin-bottom: 5rem; } }

.read-more {
  margin-bottom: 20rem; }
  .read-more > div {
    text-align: center; }
    .read-more > div:last-child {
      border-left: 2px dashed #E3E3E3; }
  .read-more a {
    color: #000066;
    text-decoration: none; }
  .read-more img {
    max-width: 15.2rem;
    margin: 0 auto; }
    @media (max-width: 630px) {
      .read-more img {
        width: 40%; } }
  .read-more h3 {
    margin: 0;
    font-weight: 600; }
  .read-more span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400; }
    .read-more span:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      margin-right: 8px;
      background: url(../images/icons/ico-chevron.svg) 0 0 no-repeat; }
  @media (max-width: 630px) {
    .read-more {
      margin-bottom: 5rem; }
      .read-more > div:last-child {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 2px dashed #E3E3E3;
        border-left: none; } }

/* --- Vendors --- */
/*@import "vendors/"*/

/*# sourceMappingURL=styles.css.map */
