@charset "UTF-8";

/* --- * --- */
* {
  box-sizing: border-box;
}

/* --- Body --- */
body {
  margin: 0;
  color: $default-color;
  background-color: #fff;
  overflow-x: hidden;
}

main {
    position: relative;
}

strong {
    font-weight: 500;
}
