@charset "UTF-8";

/* --- * --- */
* {
  box-sizing: border-box;
}

/* --- Body --- */
body {
  margin: 0;
  color: $default-color;
  background-color: #fff;
}

.img-center {
    display: block;
    margin: 0 auto;
}
