@charset "UTF-8";

.img-center {
    display: block;
    margin: 0 auto;
}

.no-before {

    &:before {
        display: none !important;
        margin: 0 !important;
    }
}

.align-bottom {
    align-self: flex-end;
}
