@charset "UTF-8";

.img-center {
    display: block;
    margin: 0 auto;
}

.no-before {

    &:before {
        display: none !important;
        margin: 0 !important;
    }
}

.align-bottom {
    align-self: flex-end;
}

.no-shadow {
    box-shadow: none !important;
}

.mobile-display {
    display: none;

    @media (max-width: $tablet-bp) {
        display: block;
    }
}

.mobile-hidden {
    display: block;

    @media (max-width: $tablet-bp) {
        display: none;
    }
}

.with-arrow {

    &:before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        margin-right: 8px;
        background: url(../images/icons/ico-chevron.svg) 0 0 no-repeat;

        @media (max-width: $mobile-bp) {
            display: inline-block;
        }
    }


}
