@charset "UTF-8";

.img-center {
    display: block;
    margin: 0 auto;
}

.no-before {

    &:before {
        display: none !important;
        margin: 0 !important;
    }
}

.align-bottom {
    align-self: flex-end;
}

.no-shadow {
    box-shadow: none !important;
}

.mobile-display {
    display: none;

    @media (max-width: $tablet-bp) {
        display: block;
    }
}

.mobile-hidden {
    display: block;

    @media (max-width: $tablet-bp) {
        display: none;
    }
}
