@charset "UTF-8";

//Example
//$var: "value" !default;

//Desktop width
$desktop-width: 1210px !default;

//Fonts
$default-font: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif !default;

//Colors
$default-color: #443e3e !default;
$main-color : #000066 !default;
