@charset "UTF-8";

//Example
//$var: "value" !default;

//Desktop width
$desktop-width: 1112px !default;

//Fonts
$default-font: 'Montserrat', Arial, sans-serif !default;

//Colors
$default-color: #2F2929 !default;
$main-color : #000066 !default;
$alt-color: #CCCCCC !default;

//Breakpoints
$mobile-bp: 550px !default;
$tablet-bp: 768px !default;
