@charset "UTF-8";

button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 400;
    background: none;
    border: none;

    @media (max-width: $tablet-bp) {
        font-size: 2rem;
    }
}

#open-nav {
    color: $main-color;

    @media (max-width: $mobile-bp) {
        & > span {
            display: none;
        }
    }
}

.hamburger {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 8px;

    span {
        top: 50%;
        display: block;
        margin-top: -1px;

        &,
        &:before,
        &:after {
            position: absolute;
            left: 0;
            width: 2.4rem;
            height: 2px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            border-radius: 2px;
            background-color: $main-color;
        }

        &:before,
        &:after {
            content: '';
        }

        &:before {
            top: -10px;
        }

        &:after {
            bottom: -10px;
        }
    }

    @media (max-width: $tablet-bp) {
        width: 3.2rem;
        height: 3.2rem;

        span {
            &,
            &:before,
            &:after {
                width: 3.2rem;
            }
        }
    }
}
