@charset "UTF-8";

button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 300;
    background: none;
    border: none;

    @media (max-width: $tablet-bp) {
        font-size: 2rem;
    }
}

#open-nav {
    color: $main-color;

    @media (max-width: $mobile-bp) {
        & > span {
            display: none;
        }
    }
}

#close-nav {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 300;

    span {
        line-height: 1;

        @media (max-width: $tablet-bp) {
            display: none;
        }
    }

    div {
        position: relative;
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 8px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            right: 0;
            margin-top: -1px;
            background: #fff;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}

.hamburger {
    position: relative;
    display: flex;
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 8px;

    &:after {
        content: '';
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        background: url(../images/icons/Menu.svg) center center no-repeat;
    }

    @media (max-width: $tablet-bp) {
        width: 3.2rem;
        height: 3.2rem;

        span {
            &,
            &:before,
            &:after {
                width: 3.2rem;
            }
        }
    }
}
