@charset "UTF-8";

.icon-security {
    display: inline-block;
    width: 2.4rem;
    height: 3rem;
    margin-right: 1.6rem;
    background: url(../images/icons/securite.svg) center center no-repeat;
    vertical-align: middle;
}
