@charset "UTF-8";

ol,
ul {
  margin: 20px 0;
  padding-left: 0;
}

//Unordered lists
ul {
  margin-top: 1rem;
  margin-bottom: 3.2rem;
  list-style-type: none;

  ul {
    margin-left: 20px;
  }
}

.list-title + ul {
    margin-top: 0;
}

li {

    &:before {
        content: "\00b7";
        margin-right: 3rem;
    }
}
