@charset "UTF-8";

/* --- Nav --- */

nav {

    a {

        &:hover,
        &.selected {

        }
    }
}

.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: $main-color;
    z-index: 3;

    display: none;

    nav {

        a {
            display: flex;
            align-items: center;
            font-size: 3rem;
            color: #fff;
            text-decoration: none;

            &:before {
                content: '';
                display: inline-block;
                width: 3.2rem;
                height: 1px;
                margin-right: 6.4rem;
                background-color: #fff;
            }
        }
    }
}

.lang-nav {
    position: absolute;
    top: -6rem;
    right: 0;
    width: 12.8rem;
    font-size: 1.4rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);

    a {
        display: block;
        text-decoration: none;

        & + a {
            display: none;
        }
    }
}
