@charset "UTF-8";

/* --- Nav --- */

nav {

    a {


        &:hover,
        &.selected {

        }
    }
}

.main-nav {

}

.page-nav {
    padding: 3.2rem;
    font-size: 1.8rem;
    font-weight: 300;
    background-color: $main-color;

    &,
    a {
        color: #fff;
    }

    h3 {

    }

    a {
        display: block;
        line-height: 3.1;

        &:first-of-type {
            padding-top: 1.6rem;
        }
    }
}
