@charset "UTF-8";


.page {
    flex-wrap: wrap;

    @media (max-width: $tablet-bp) {
        padding-top: 17rem;
    }

    @media (max-width: $mobile-bp) {
        padding-top: 5rem;
    }
}
.page-section {

    @media (max-width: $tablet-bp) {
        width: 100%;
    }
}

.page-article {
    padding-left: calc(100% / 12 - 1rem - 0.01px);

    hr {
        width: 100vw;
        height: 8px;
        background-color: #F0F0F0;
        position: absolute;
        right: 50%;
        left: 50%;
        margin-top: 0;
        margin-right: -50vw;
        margin-left: -50vw;
        border: none;
        z-index: 1;

        & + hr {
            background-color: #fff;
            max-width: $desktop-width;
            margin: 0 auto;
            right: 0;
            left: 0;

            @media (max-width: $desktop-width) {
                width: 100%;
            }
        }
    }

    &:last-of-type {

        hr {
            display: none;
        }
    }

    @media (max-width: $tablet-bp) {
        padding-left: 0;

        &:first-child {
            .article-content {
                padding-top: 5.6rem;
            }
        }

        hr {
            width: 25.6rem;

            & + hr {
                display: none;
            }
        }
    }

    @media (max-width: $mobile-bp) {

        &:first-child {
            .article-content {
                padding-top: 4.8rem;
            }
        }

        hr {
            width: 7.2rem;
        }
    }
}

.article-content {

    h3 {
        font-size: 1.6rem;
        font-weight: normal;
        color: $main-color;
    }

    a {
        color: $main-color;
    }
    
    img {
        display: block;
        max-width: 100%;
        margin: 6.4rem auto ;
    }

    figcaption {
        margin-top: -5rem;
        margin-bottom: 6.4rem;
        text-align: center;
        font-weight: 400;
    }

    p {
        margin: 0;

        &:not(.section-position),
        &:not(:last-child) {
            margin-bottom: 3.2rem;
        }
    }

    .section-position {
        color: $alt-color;

        @media (max-width: $tablet-bp) {
            display: none;
        }
    }

    & > *:last-child {
        margin-bottom: 0 !important;
    }

}

.article-content {
    padding: 13rem 0;

    @media (max-width: $mobile-bp) {
        padding: 5rem 0;
    }
}
