@charset "UTF-8";

#page-nav-wrapper {
    margin-top: -13rem;
    z-index: 2;

    nav {
        padding: 0 3.2rem 3.2rem;
        font-size: 1.8rem;
        font-weight: 300;
    }

    @media (max-width: $tablet-bp) {
        width: 100%;
        margin-top: 0;

        nav {
            margin-left: 0;
        }
    }
}

.page-nav {

    & > div {
        padding-top: 3.2rem;
        margin-left: -3.2rem;
        background-color: $main-color;
        box-shadow: 0 4px 32px 0 rgba(0, 0, 102, 0.48);
    }

    &,
    a {
        color: #fff;
    }

    h3 {
        position: relative;
        margin-bottom: 0;
        margin-left: 3.2rem;
        padding-bottom: 3.2rem;

        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            display: block;
            height: 1px;
            background-color: #fff;
        }

        &:before {
            left: -3.2rem;
            width: calc(100% / 4);
        }

        &:after {
            left: calc((100% / 4) - 2.4rem);
            width: 8px;
        }
    }

    a {
        display: block;
        line-height: 3.1;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:first-of-type {
            padding-top: 1.6rem;
        }
    }

    span {
        display: inline-block;
        line-height: 1.2;
    }

    @media (max-width: $tablet-bp) {
        h3 {
            display: none;
        }
    }
}

.mobile-page-nav {
    display: none;
    padding: 0;
    font-weight: 2rem;
    color: #fff;

    &:after {
        content: 'plop';
    }

    @media (max-width: $tablet-bp) {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
