@charset "UTF-8";

.page-article {

    img {
        display: block;
        margin: 0 auto;
    }

    p {
        margin: 0;

        &:not(:last-of-type) {
            margin-bottom: 3.2rem;
        }
    }

    & > .section-position {
        color: $alt-color;
    }

    hr {
        width: 100vw;
        height: 8px;
        background-color: #F0F0F0;
        position: absolute;
        right: 50%;
        left: 50%;
        margin-top: 0;
        margin-right: -50vw;
        margin-left: -50vw;
        border: none;
        z-index: 1;

        & + hr {
            background-color: #fff;
            max-width: $desktop-width;
            margin: 0 auto;
            right: 0;
            left: 0;
            
            @media (max-width: $desktop-width) {
                width: 100%;
            }
        }


    }

    &:last-of-type {
        hr {
            display: none;
        }
    }
}

.article-content {
    padding: 13rem 0;
}
