@charset "UTF-8";

.contact {

    .page-nav {

        iframe {
            width: 100%;
            margin-bottom: -1rem;
        }
    }

    table {
        width: 100%;
        margin-bottom: 6.4rem;
    }

    td {

        &:first-of-type {
            width: 30%;
            vertical-align: top;
            color: $main-color;
            font-weight: 500;
        }

        table {
            td:first-of-type {
                width: 50%;
            }
        }
    }

    strong {
        font-weight: 400;
        color: $main-color;
    }

    @media (max-width: $mobile-bp) {
        .page {
            display: flex;
        }
        .page-section {
            order: 1;
        }
        aside {
            order: 2;
        }

        .page-article:last-of-type {
            margin-bottom: 0;
        }

        table {
            margin-bottom: 3.2rem;

            &:not(:first-of-type) {

                tr {
                    display: block;
                }

                td {

                    &:first-of-type {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}
