@charset "UTF-8";

.contact {

    .page-nav {

        iframe {
            width: 100%;
            margin-bottom: -1rem;
        }
    }

    table {
        width: 100%;
        margin-bottom: 6.4rem;
    }

    td {

        &:first-of-type {
            width: 30%;
            vertical-align: top;
            color: $main-color;
            font-weight: 500;
        }

        table {
            td:first-of-type {
                width: 50%;
            }
        }
    }

    strong {
        color: $main-color;
    }
}
