@charset "UTF-8";

.home {
    header {
        overflow: visible;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 73rem;
        margin: 6.4rem auto 0;
        font-weight: 200;

        h1 {
            margin-bottom: 3.2rem;
            padding: 0;
            font-weight: 300;
        }

        img {
            max-width: 80rem;
            margin-bottom: -19rem;
        }

        @media (max-width: $mobile-bp) {
            margin-top: 0;
        }
    }

    main {
        padding-top: 6rem;

        @media (max-width: $mobile-bp) {
            padding-top: 0;
        }
    }
}

.header-content,
.specialty,
.security {

    a {
        display: inline-block;
        // align-items: center;
        font-weight: 400;
        color: $main-color;
        text-decoration: none;

        &:before {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 8px;
            background: url(../images/icons/ico-chevron.svg) 0 0 no-repeat;
            vertical-align: middle;
        }

        &:after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            margin-left: 1.6rem;
            background-color: $main-color;
            transition: width 0.3s ease-in-out;
        }

        &:hover {
            &:after {
                width: calc(100% - 1.6rem);
            }
        }

        @media (max-width: $mobile-bp) {
            display: block;

            &:before {
                display: inline-block;
            }
        }
    }
}

.specialty,
.security {
    margin-bottom: 12rem;

    h2 {
        position: relative;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        font-size: 2rem;
        font-weight: 200;

        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            display: block;
            height: 1px;
        }

        &:before {
            left: -1.5rem;
            width: 10rem;
        }

        &:after {
            left: 9.5rem;
            width: 1rem;
        }

        span {
            font-weight: 500;
        }
    }

    a {
        &:after {
            background-color: #fff;
        }
    }
}

.specialty {
    margin-top: 20rem;
    display: flex;

    & > div:first-of-type {
        width: calc(100% / 2 - 0.01px);
        text-align: right;

        img {
            width: auto;
            height: 18.7rem;
            margin-top: 7px;
            margin-right: 2.8rem;
        }

        @media (max-width: $mobile-bp) {
            display: none;
        }
    }

    h2 {

        &:before,
        &:after {
            background-color: $main-color;
        }

        &:before {
            left: -1.5rem;
        }

        &:after {
            left: 9.5rem;
        }

        span {
            display: block;
            font-weight: bold;
        }
    }

    @media (max-width: $mobile-bp) {
        padding-top: 0;
        margin-bottom: 6rem;
    }
}

.security {
    position: relative;
    max-width: 72.8rem;
    margin-right: auto;
    margin-left: auto;

    & > div {
        position: relative;
        padding: 3.2rem;
        background-color: $main-color;
        z-index: 3;
    }

    &,
    h2,
    a {
        color: #fff;
    }

    h2 {

        &:before,
        &:after {
            background-color: #fff;
        }

        &:before {
            left: -3.2rem;
        }

        &:after {
            left: 7.8rem;
        }
    }

    a {
        &:before {
            background-image: url(../images/icons/ico-chevron-white.svg);
        }
    }

    hr {
        width: 100vw;
        height: 8px;
        background-color: #F0F0F0;
        position: absolute;
        top: 0;
        right: 50%;
        bottom: 0;
        left: 50%;
        margin-top: auto;
        margin-right: -50vw;
        margin-bottom: auto;
        margin-left: -50vw;
        border: none;
        z-index: 1;

        & + hr {
            right: 0;
            left: -3.6rem;
            max-width: 80rem;
            margin: auto;
            background-color: #fff;
        }

        @media (max-width: $tablet-bp) {
            display: none;
        }
    }

    @media (max-width: $tablet-bp) {
        h2 span {
            display: block;
            margin-left: 4.3rem;
        }
    }

    @media (max-width: $mobile-bp) {
        margin-bottom: 5rem;
    }
}

.read-more {
    margin-bottom: 20rem;

    & > div {
        text-align: center;

        &:last-child {
            border-left: 2px dashed #E3E3E3;
        }
    }

    a {
        color: $main-color;
        text-decoration: none;

        &:hover {
            span:after {
                width: calc(100% - 1.6rem);
            }
        }
    }

    img {
        max-width: 15.2rem;
        margin: 0 auto;

        @media (max-width: $mobile-bp) {
            width: 40%;
        }
    }

    h3 {
        margin: 0;
        font-weight: 600;
    }

    span {
        display: inline-block;
        font-weight: 400;
        vertical-align: middle;

        &:before {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 8px;
            background: url(../images/icons/ico-chevron.svg) 0 0 no-repeat;
        }

        &:after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            margin-left: 1.6rem;
            background-color: $main-color;
            transition: width 0.3s ease-in-out;
        }
    }

    @media (max-width: 575px) {
        margin-bottom: 5rem;

        & > div {
            &:last-child {
                margin-top: 2rem;
                padding-top: 2rem;
                border-top: 2px dashed #E3E3E3;
                border-left: none;
            }
        }
    }
}
