@charset "UTF-8";

.home {

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 73rem;
        margin: 0 auto;
        font-weight: 200;

        h1 {
            margin-bottom: 3.2rem;
            padding: 0;
            font-weight: 300;
        }

        img {
            max-width: 80rem;
            margin-bottom: -19rem;
        }
    }

    main {
        padding-top: 6rem;
    }
}

.header-content,
.specialty,
.security {

    a {
        display: flex;
        align-items: center;
        font-weight: 400;
        color: $main-color;
        text-decoration: none;

        &:before {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            margin-right: 8px;
            background: url(../images/icons/ico-chevron.svg) 0 0 no-repeat;
        }
    }
}

.specialty,
.security {

    h2 {
        position: relative;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        font-size: 2rem;
        font-weight: 200;

        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            display: block;
            height: 1px;
        }

        &:before {
            left: -1.5rem;
            width: 10rem;
        }

        &:after {
            left: 9.5rem;
            width: 1rem;
        }

        span {
            font-weight: 500;
        }
    }
}

.specialty {
    margin-top: 15rem;
    margin-bottom: 12rem;
    display: flex;

    & > div:first-of-type {
        width: calc(100% / 2 - 0.01px);

        img {
            width: 100%;
            height: auto;
        }
    }

    h2 {

        &:before,
        &:after {
            background-color: $main-color;
        }

        &:before {
            left: -1.5rem;
        }

        &:after {
            left: 9.5rem;
        }

        span {
            display: block;
            font-weight: bold;
        }
    }
}

.security {
    position: relative;
    max-width: 72.8rem;
    margin: 0 auto 10rem;

    & > div {
        position: relative;
        padding: 3.2rem;
        background-color: $main-color;
        z-index: 3;
    }

    &,
    h2,
    a {
        color: #fff;
    }

    h2 {

        &:before,
        &:after {
            background-color: #fff;
        }

        &:before {
            left: -3.2rem;
        }

        &:after {
            left: 7.8rem;
        }
    }

    hr {
        width: 100vw;
        height: 8px;
        background-color: #F0F0F0;
        position: absolute;
        top: 0;
        right: 50%;
        bottom: 0;
        left: 50%;
        margin-top: auto;
        margin-right: -50vw;
        margin-bottom: auto;
        margin-left: -50vw;
        border: none;
        z-index: 1;

        & + hr {
            right: 0;
            left: -3.6rem;
            max-width: 80rem;
            margin: auto;
            background-color: #fff;
        }
    }
    @media (max-width: $mobile-bp) {
        margin-bottom: 5rem;
    }
}

.read-more {
    margin-bottom: 20rem;

    & > div {
        text-align: center;

        &:last-child {
            border-left: 2px dashed #E3E3E3;
        }


    }

    a {
        color: $main-color;
        text-decoration: none;
    }

    img {
        max-width: 75%;
        margin: 0 auto;
    }

    h3 {
        margin: 0;
        font-weight: 600;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;

        &:before {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            margin-right: 8px;
            background: url(../images/icons/ico-chevron.svg) 0 0 no-repeat;
        }
    }

    @media (max-width: $mobile-bp) {
        margin-bottom: 5rem;

        & > div {
            &:last-child {
                margin-top: 2rem;
                padding-top: 2rem;
                border-top: 2px dashed #E3E3E3;
                border-left: none;
            }
        }
    }
}
