@charset "UTF-8";

.home {

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 73rem;
        margin: 0 auto;

        h1 {
            margin-bottom: 3.2rem;
            padding: 0;
        }

        img {
            max-width: 80rem;
            margin-bottom: -19rem;
        }
    }
}

.header-content,
.specialty,
.security {

    a {
        font-weight: 400;
        color: $main-color;
        text-decoration: none;

        &:before {
            content: '> ';
        }
    }
}

.specialty,
.security {

    h2 {
        position: relative;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        font-size: 2rem;

        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            display: block;
            height: 1px;
        }

        &:before {
            left: -1.5rem;
            width: 10rem;
        }

        &:after {
            left: 9.5rem;
            width: 1rem;
        }

    }
}

.specialty {
    margin-top: 15rem;
    margin-bottom: 12rem;
    display: flex;

    & > div:first-of-type {
        width: calc(100% / 2 - 0.01px);

        img {
            width: 100%;
            height: auto;
        }
    }

    h2 {

        &:before,
        &:after {
            background-color: $main-color;
        }

        &:before {
            left: -1.5rem;
        }

        &:after {
            left: 9.5rem;
        }

        span {
            display: block;
            font-weight: bold;
        }
    }
}

.security {
    max-width: 72.8rem;
    margin: 0 auto 10rem;
    padding: 3.2rem;
    background-color: $main-color;

    &,
    h2,
    a {
        color: #fff;
    }

    h2 {

        &:before,
        &:after {
            background-color: #fff;
        }

        &:before {
            left: -3.2rem;
        }

        &:after {
            left: 7.8rem;
        }
    }
}

.read-more {
    margin-bottom: 20rem;

    & > div {
        text-align: center;

        &:last-child {
            border-left: 2px dashed #E3E3E3;
        }
    }

    a {
        color: $main-color;
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }

    h3 {
        margin: 0;
    }

    span {

        &:before {
            content: '> ';
        }
    }
}
