{% block footer %}
<footer class="footer">
    <section class="footer-content container">
            <nav class="grid-3">
                <div>
                    <a href="#">Accueil</a>
                    <a href="#">Prestations et démarche</a>
                    <a href="#">SSE</a>
                </div>
                <div>
                    <a href="#">Société</a>
                    <a href="#">Sécurité</a>
                    <a href="#">Contact</a>
                </div>
                <div>
                    <a href="#">Linkedin</a>
                </div>
            </nav>
    </section>

    <section class="bottom-bar">
        <nav>
            <a href="#">Mentions légales & crédits</a>
            <a href="#">Plan du site</a>
        </nav>
    </section>
</footer>
{% endblock %}
