{% block header %}

{% set first_image = page.media.images|first %}

<header class="header">

    <div class="container">

        <div class="top-bar">
            {% include 'partials/_logo.html.twig' %}

            <button id="open-nav">
                <span>Navigation</span>
                <div class="hamburger">
                    <span></span>
                </div>
            </button>
        </div>

        {% block header_navigation %}
        {% include 'partials/_navigation.html.twig' %}
        {% endblock %}

        <nav class="lang-nav">
            <a href="#">Français</a>
            <a href="#">English</a>
        </nav>

        {% if page.slug == 'home' %}
        <div class="header-content">
            {{page.summary}}
        </div>

        {% else %}
            {{page.content}}

            <div class="header-illu">
                <img src="{{ first_image.url }}" alt="" />
            </div>
        {% endif %}

    </div>

</header>
{% endblock %}
