{% block header %}

{% set first_image = page.media.images|first %}

<header class="header">

    <div class="container">

        <div class="top-bar">
            {% include 'partials/_logo.html.twig' %}

            <button id="open-nav">
                <span>{{'NAV'|t}}</span>
                <div class="hamburger">
                </div>
            </button>
        </div>

        {% block header_navigation %}
            {% include 'partials/_navigation.html.twig' %}
        {% endblock %}

        {% include 'partials/language-selector.html.twig' %}

        {% if page.slug == 'home' %}
            <div class="header-content">
                {{page.summary}}
            </div>

        {% else %}
            {{page.content}}

            <div class="header-illu">
                <img src="{{ first_image.url }}" alt="" />
            </div>
        {% endif %}

    </div>

</header>
{% endblock %}
