{% block header %}
<header class="header">

    <div class="container">

        <div class="top-bar">
            {% include 'partials/_logo.html.twig' %}

            <button id="open-nav"><span>Navigation</span></button>
        </div>

        {% block header_navigation %}
        {% include 'partials/_navigation.html.twig' %}
        {% endblock %}

        <nav class="lang-nav">
            <a href="#">Français</a>
            <a href="#">English</a>
        </nav>

        {{page.content}}
    </div>

</header>
{% endblock %}
