<a class="logo" href="{{ base_url == '' ? '/' : base_url }}">
        <span class="mobile-hidden">
            <img src="{{ url('theme://images/logo-mta-zodiac.svg') }}" alt="Plateforme MTA - Zodiac Aerospace">
        </span>

        <span class="mobile-display">
            <img src="{{ url('theme://images/logo-mta.svg') }}" alt="Plateforme MTA">
        </span>
</a>
