<a class="logo" href="{{ base_url == '' ? '/' : base_url }}">
    <img src="{{ url('theme://images/logo-mta.svg') }}" alt="Plateforme MTA">

    <img src="{{ url('theme://images/logo-zodiac.svg') }}" alt="Zodiac Aerospace">
</a>
