<div class="main-nav">

    <div class="container">
        {% include 'partials/_logo-white.html.twig' %}

        <button id="close-nav">
            <span>Fermer la navigation</span>
        </button>

        <nav>
            {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
            <a href="{{ page.url }}" class="{{ current_page }}">
                {{ page.menu }}
            </a>
            {% endfor %}
        </nav>

    </div>

</div>
