<div class="main-nav">

    <div class="container">
        <div class="top-content">
            {% include 'partials/_logo-white.html.twig' %}

            <button id="close-nav">
                <span>Fermer la navigation</span>
                <div></div>
            </button>
        </div>

        <nav>
            {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
            <a href="{{ page.url }}" class="{{ current_page }}">
                <span>{{ page.menu }}</span>
            </a>
            {% endfor %}
        </nav>

    </div>
</div>
